<h2>{{title}}</h2>

<h4 class="color"> Post Details </h4>
<table>
  <tr>
    <td>Firstname</td>
    <td> <input [(ngModel)]="firstname" name="firstname" type="text"></td>
  </tr>
  <tr>
    <td>Lastname</td>
    <td> <input [(ngModel)]="lastname" name="lastname" type="text"></td>
  </tr>
  <tr>
    <td>Age</td>
    <td> <input [(ngModel)]="age" name="age" type="number"></td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="addPerson()" class="color">Post</button></td>
  </tr>
</table>

<h4 class="color"> Get Details </h4>
<input [(ngModel)]="queryKey" name="queryKey" type="text"><br>
<button (click)="getPerson(queryKey)" class="color"> Get </button>

<h4 class="color">Result</h4>{{queryResult}}

<h4 class="delcolor"> Delete Details</h4>
<input [(ngModel)]="removeKey" name="removeKey" type="text"> <br>
<button (click)="deletePerson(removeKey)" class="delcolor"> Delete </button>